:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-en: "Montserrat", sans-serif;
  --color-black: #111;
  --color-white: #fff;
  --color-base: #fafafa;
  --color-orange: #f5810e;
  --color-yellow: #fabe00;
  --color-g-orange: #f8b819;
  --color-g-yellow: #f0d320;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.7;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-base);
}

/*!
component > page-kv
------------------------------
*/
/*!
component > button
------------------------------
*/
.button {
  min-width: 150px;
  padding: 8px 28px;
  border-radius: 60px;
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
}

.button-white {
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button-white:hover {
  background-color: var(--color-yellow);
}

.button-black {
  border: 2px solid var(--color-white);
  background-color: var(--color-black);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--color-white);
}
.button-black:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

/*!
component > heading
------------------------------
*/
.heading-en {
  font-size: 38px;
  font-family: var(--font-family-en);
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 3.8px;
}
@media screen and (min-width: 768px) {
  .heading-en {
    font-size: 50px;
    padding-left: 5px;
  }
}

.heading-ja {
  font-size: 14px;
  letter-spacing: 0.08em;
  padding-left: 0.08em;
}
@media screen and (min-width: 768px) {
  .heading-ja {
    font-size: 16px;
  }
}

/*!
layout > section
------------------------------
*/
.section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0;
  }
}
.section-body {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section-body {
    padding: 48px 0;
  }
}

/*!
layout > container
------------------------------
*/
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
}
/*!
layout > header
------------------------------
*/
.header {
  background-color: var(--color-white);
  width: 100%;
  z-index: 2;
}

.header__inner {
  padding: 28px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 135px;
  }
}

/*!
layout > header > nav
------------------------------
*/
.header__nav-open {
  margin-top: 3px;
}
.drawer-icon {
  width: 36px;
  height: 21px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .drawer-icon {
    display: none;
  }
}

.header__icon-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 3px;
  border-radius: 6px;
  background: var(--color-black);
}
.header__icon-bar:nth-of-type(2) {
  top: 9px;
}
.header__icon-bar:nth-of-type(3) {
  top: 18px;
}

.header__nav {
  background-color: var(--color-yellow);
  height: 100vh;
  width: max(32vw, 18rem);
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  translate: 100vw;
  padding: 100px 40px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    translate: 0;
    background-color: transparent;
    height: 100%;
    position: static;
    padding: 0;
  }
}

.header__list {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__nav-item {
  padding: 14px 0;
  font-weight: 700;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .header__nav-item {
    padding: 0;
  }
}
.header__nav-item:last-child {
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  .header__nav-item:last-child {
    margin-top: 0;
  }
}

.header__nav-link {
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__nav-link:hover {
  color: var(--color-orange);
}
.header__nav-link:last-child:hover {
  color: var(--color-black);
}

/*!
layout > footer
------------------------------
*/
/*!
fv
------------------------------
*/
.fv {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-g-orange)), to(var(--color-g-yellow)));
  background: linear-gradient(180deg, var(--color-g-orange) 0%, var(--color-g-yellow) 100%);
  max-width: calc(100% - 30px);
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .fv {
    border-radius: 30px;
    max-width: calc(100% - 60px);
  }
}

.fv__inner {
  position: relative;
  padding: 50px 20px 255px;
}
@media screen and (min-width: 768px) {
  .fv__inner {
    padding: 110px 30px 118px;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.fv_content {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .fv_content {
    text-align: start;
  }
}

.fv__lead1,
.fv__lead2 {
  font-size: 22px;
  letter-spacing: 2.2px;
  line-height: 1;
  font-weight: 700;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .fv__lead1,
  .fv__lead2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.fv__lead2 {
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .fv__lead2 {
    margin-top: 12px;
  }
}

.fv__description {
  margin: 26px 0 30px;
  letter-spacing: 0.48px;
  padding-left: 0.48px;
  font-weight: 700;
}
.fv__description span {
  display: block;
}
@media screen and (min-width: 768px) {
  .fv__description {
    margin: 20px 0 42px;
    letter-spacing: 0.54px;
    font-size: 18px;
  }
}

.fv__img {
  position: absolute;
  right: 0;
  bottom: -118px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .fv__img {
    width: 57.6923076923%;
    text-align: right;
    bottom: -88px;
    right: 30px;
  }
}
.fv__img img {
  width: 345px;
}
@media screen and (min-width: 768px) {
  .fv__img img {
    width: 100%;
    max-width: 600px;
  }
}

/*!
case
------------------------------
*/
.case {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 118px auto 0;
}
@media screen and (min-width: 768px) {
  .case {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.case__inner {
  padding: 0 40px;
}
@media screen and (min-width: 768px) {
  .case__inner {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.case__title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.8px;
  padding-left: 1.8px;
  line-height: 1;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .case__title {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 2px;
  }
}

.case__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .case__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
    margin-top: 54px;
  }
}

.case__item {
  text-align: center;
}

/*!
news
------------------------------
*/
.news {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.news__inner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .news__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.news__card {
  border-radius: 20px;
  background: var(--color-white);
  -webkit-box-shadow: 0px 9px 30px 0px #f4f4f4;
          box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 40px 12px;
}
@media screen and (min-width: 768px) {
  .news__card {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: 9.2105263158%;
    padding-right: 9.2105263158%;
  }
}

@media screen and (min-width: 768px) {
  .news__heading {
    text-align: left;
  }
}

.news__lists {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .news__lists {
    margin-top: 30px;
  }
}

.news__list:nth-child(n+2) {
  position: relative;
}
.news__list:nth-child(n+2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  background: #e3e3e3;
}

.news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .news-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
  }
}

.news-link__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .news-link__meta {
    width: 247px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    gap: 14px;
  }
}

.news-link__date {
  color: #333;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .news-link__date {
    width: 119px;
  }
}

.news-link__label {
  font-size: 11px;
  font-weight: 700;
  color: var(--color-white);
  padding: 2px 10px;
  border-radius: 2px;
  background: #e4780c;
  min-width: 63px;
  text-align: center;
}
.news-link__label.is-news {
  background: #e4780c;
}
.news-link__label.is-column {
  background: #ecb815;
}
.news-link__label.is-event {
  background: #389b47;
}

.news__link {
  text-align: right;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .news__link {
    margin-top: 20px;
  }
}
.news__link a {
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  border-bottom: 2px solid var(--color-black);
  padding-bottom: 8px;
  vertical-align: top;
}/*# sourceMappingURL=style.css.map */