:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-en: "Montserrat", sans-serif;
  --color-black: #111;
  --color-white: #fff;
  --color-base: #fafafa;
  --color-orange: #f5810e;
  --color-yellow: #fabe00;
  --color-g-orange: #f8b819;
  --color-g-yellow: #f0d320;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.7;
  font-family: var(--font-family-base);
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
}

/*!
component > page-kv
------------------------------
*/
/*!
component > button
------------------------------
*/
.button {
  min-width: 150px;
  padding: 10px 30px;
  border-radius: 60px;
}
.button:hover {
  cursor: pointer;
}

.button-white {
  border: 2px solid var(--color-black);
  background: var(--color-white);
}

/*!
component > heading
------------------------------
*/
.heading-en {
  font-size: 38px;
  font-family: var(font-family-en);
  letter-spacing: 0.1em;
  padding-bottom: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .heading-en {
    font-size: 50px;
  }
}

.heading-ja {
  font-size: 14px;
  letter-spacing: 0.08em;
  padding-left: 0.08em;
}
@media screen and (min-width: 768px) {
  .heading-ja {
    font-size: 16px;
  }
}

/*!
component > instagram
------------------------------
*/
/*!
layout > section
------------------------------
*/
.section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0;
  }
}
.section-body {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section-body {
    padding: 48px 0;
  }
}

/*!
layout > container
------------------------------
*/
.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
}

/*!
layout > header
------------------------------
*/
.header {
  background-color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  padding: 22px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 100px;
}

.header__nav-open {
  width: 36px;
  height: 21px;
}

.header__nav {
  background-color: var(--color-yellow);
  height: 100vh;
  width: max(32vw, 18rem);
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  padding: 100px 40px;
}

.header__nav-close {
  width: 36px;
  position: absolute;
  top: 25px;
  right: 15px;
}

.header__list {
  text-align: right;
}

.header__nav-item {
  padding: 14px 0;
  font-weight: 700;
  letter-spacing: 0.48px;
}
.header__nav-item:last-child {
  margin-top: 14px;
}

/*!
layout > header > pc-nav
------------------------------
*/
/*!
layout > header > sp-nav
------------------------------
*/
/*!
layout > footer
------------------------------
*/
/*!
concept
------------------------------
*/
.top-concept__img {
  width: 100%;
}
.top-concept__text {
  text-align: center;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .top-concept__text {
    margin-top: 48px;
  }
}
.top-concept__copy {
  font-size: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .top-concept__copy {
    font-size: 20px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .top-concept__content span {
    display: block;
  }
}

/*!
menu
------------------------------
*//*# sourceMappingURL=style.css.map */