@use "../global" as *;

/*!
fv
------------------------------
*/
.fv {
  border-radius: 20px;
  background: linear-gradient(180deg, var(--color-g-orange) 0%, var(--color-g-yellow) 100%);
  // 最大幅は左右の余白15pxを確保した幅にする
  max-width: calc(100% - 15px * 2);
  // header分の高さを考慮
  margin: 0 auto;

  @include mq(md) {
    border-radius: 30px;
    // margin-top: 90px;
    max-width: calc(100% - 30px * 2);
  }
}

.fv__inner {
  // 画像の位置配置のため
  position: relative;
  padding: 50px 20px 255px;

  @include mq(md) {
    padding: 110px 30px 118px;
    max-width: calc(1040px + 30px * 2);
    margin: 0 auto;
  }
}

.fv_content {
  text-align: center;

  @include mq(md) {
    text-align: start;
  }
}

.fv__lead {
}

.fv__lead1,
.fv__lead2 {
  font-size: 22px;
  letter-spacing: 2.2px;
  line-height: 1;
  font-weight: 700;
  // 「」の文字詰め用
  font-feature-settings: "palt";
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 10px;
  display: block;
  // 文字のサイズに応じて幅が可変
  width: fit-content;
  margin: 0 auto;

  @include mq(md) {
    margin-left: 0;
    margin-right: 0;
    font-size: 38px;
    letter-spacing: 3.8px;
    padding: 12px 16px;
  }
}

.fv__lead1 {
}

.fv__lead2 {
  margin-top: 8px;

  @include mq(md) {
    margin-top: 12px;
  }
}

.fv__description {
  margin: 26px 0 30px;
  letter-spacing: 0.48px;
  padding-left: 0.48px;
  font-weight: 700;

  & span {
    display: block;
  }

  @include mq(md) {
    margin: 20px 0 42px;
    letter-spacing: 0.54px;
    // padding-left: 0;
    font-size: 18px;
  }
}

.fv__button {
}

.fv__img {
  position: absolute;
  right: 0;
  bottom: -118px;
  width: 100%;
  text-align: center;

  @include mq(md) {
    width: calc(600px / 1040px * 100%);
    text-align: right;
    bottom: -88px;
    right: 30px;
  }

  img {
    width: 345px;

    @include mq(md) {
      width: 100%;
      // 画像の最大幅を600pxに制限
      max-width: 600px;
    }
  }
}

/*!
case
------------------------------
*/
.case {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 118px auto 0;

  @include mq(md) {
    margin-top: 88px;
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.case__inner {
  padding: 0 40px;

  @include mq(md) {
    max-width: calc(920px + 40px * 2);
    margin: 0 auto;
  }
}

.case__title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.8px;
  padding-left: 1.8px;
  line-height: 1;
  font-size: 18px;

  @include mq(md) {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 2px;
  }
}

.case__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;
  margin-top: 30px;

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
    margin-top: 54px;
  }
}

.case__item {
  text-align: center;
}

/*!
news
------------------------------
*/
.news {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.news__inner {
  padding-left: 15px;
  padding-right: 15px;

  @include mq(md) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: calc(1140px + 30px * 2);
    margin: 0 auto;
  }
}

.news__card {
  border-radius: 20px;
  background: var(--color-white);
  box-shadow: 0px 9px 30px 0px #f4f4f4;
  padding: 40px 12px;

  @include mq(md) {
    border-radius: 30px;
    padding-top: 40px;
    padding-bottom: 34px;
    padding-left: calc(105px / 1140px * 100%);
    padding-right: calc(105px / 1140px * 100%);
  }
}

// .heading-en {
// }

.news__heading {
  @include mq(md) {
    text-align: left;
  }
}

.news__lists {
  margin-top: 28px;

  @include mq(md) {
    margin-top: 30px;
  }
}

.news__list {
  // 子要素の2番目以降の要素に指定
  &:nth-child(n + 2) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background: #e3e3e3;
    }
  }
}

.news-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include mq(md) {
    flex-direction: row;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 0;
  }
}

.news-link__meta {
  display: flex;
  align-items: center;
  gap: 12px;

  @include mq(md) {
    width: 247px;
    // 幅を247px以下にしない設定
    flex-shrink: 0;
    gap: 14px;
  }
}

.news-link__date {
  color: #333;
  // 改行しない
  white-space: nowrap;

  @include mq(md) {
    width: 119px;
  }
}

.news-link__label {
  font-size: 11px;
  font-weight: 700;
  color: var(--color-white);
  padding: 2px 10px;
  border-radius: 2px;
  background: #e4780c;
  // ラベルの文字数に関係なく最小サイズを指定
  min-width: 63px;
  text-align: center;

  &.is-news {
    background: #e4780c;
  }

  &.is-column {
    background: #ecb815;
  }

  &.is-event {
    background: #389b47;
  }
}

// 1行に収まらない文字を「…」で省略する方法
// .news-link__title {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.news__link {
  text-align: right;
  margin-top: 22px;

  @include mq(md) {
    margin-top: 20px;
  }

  a {
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    border-bottom: 2px solid var(--color-black);
    padding-bottom: calc(10px - 2px);
    vertical-align: top;
  }
}
