@use "../global" as *;

/*!
fv
------------------------------
*/
.fv {
  border-radius: 20px;
  background: linear-gradient(180deg, var(--color-g-orange) 0%, var(--color-g-yellow) 100%);
  // 最大幅は左右の余白15pxを確保した幅にする
  max-width: calc(100% - 15px * 2);
  // header分の高さを考慮
  margin: 72px auto;

  @include mq(md) {
    margin-top: 90px;
  }
}

.fv__inner {
  // 画像の位置配置のため
  position: relative;
  padding: 50px 20px 255px;

  @include mq(md) {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    padding: 110px 15px;
    width: 1040px;
    margin: 0 auto;
  }
}

.fv_content {
  text-align: center;

  @include mq(md) {
    // background: transparent;
    // text-align: start;
    // padding: 0;
    // margin-top: 20px;
  }
}

.fv__lead {
}

.fv__lead1,
.fv__lead2 {
  font-size: 22px;
  letter-spacing: 2.2px;
  text-indent: 2.2px;
  line-height: 1;
  font-weight: 700;
  // 「」の文字詰め用
  font-feature-settings: "palt";
  background-color: var(--color-white);
  border-radius: 5px;
  padding: 10px;
  display: block;
  // 文字のサイズに応じて幅が可変
  width: fit-content;
  margin: 0 auto;

  @include mq(md) {
    // font-size: 38px;
    // letter-spacing: 3.8px;
  }
}

.fv__lead1 {
}

.fv__lead2 {
  margin-top: 8px;
}

.fv__description {
  margin: 26px 0 22px;
  letter-spacing: 0.48px;
  padding-left: 0.48px;
  font-weight: 700;

  & span {
    display: block;
  }

  @include mq(md) {
    // margin: 20px 0 30px;
    // letter-spacing: 0.54px;
    // padding-left: 0;
    // font-size: 18px;
  }
}

.fv__button {
}

.fv__img {
  position: absolute;
  left: 0;
  bottom: -108px;
  width: 100%;
  text-align: center;

  @include mq(md) {
    // position: static;
    // top: 0;
    // left: 45%;
    // top: 110px;
    // width: 600px;
  }

  & img {
    width: 345px;
  }
}

/*!
case
------------------------------
*/
.case {
  padding: 240px 40px 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mq(md) {
    padding: calc(70px + 110px) 260px 50px 260px;
    gap: 54px;
  }
}

.case__title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.8px;
  padding-left: 1.8px;
  line-height: 1;

  @include mq(md) {
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 2px;
  }
}

.case__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 15px;

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: 26px 40px;
  }
}

.case__item {
}

/*!
news
------------------------------
*/
.news {
}

.news__inner {
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0px 9px 30px 0px #f4f4f4;
}

.news__content {
  padding: 0 12px 22px;
}

.news__list {
}

.news__item {
  padding: 10px 0;

  & + & {
    border-top: 1px solid #e3e3e3;
  }
}

.news__link {
}

.news__info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.news__date {
}

.news__label {
  font-size: 11px;
  font-weight: 700;
  border-radius: 2px;
  padding: 2px 10px;
  color: var(--color-white);
}

.news__label-orange {
  background: #e4780c;
}

.news__label-yellow {
  background: #ecb815;
}

.news__label-green {
  background: #389b47;
}

.news__title {
  margin-top: 8px;
}

.news__more-link {
  font-weight: 700;
  text-align: right;
  padding-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
}
