@use "../global" as *;

/*!
concept
------------------------------
*/
.top-concept {
  &__img {
    width: 100%;
  }
  &__text {
    text-align: center;
    margin-top: 40px;

    @include mq(md) {
      margin-top: 48px;
    }
  }

  &__copy {
    font-size: 16px;
    margin-bottom: 24px;

    @include mq(md) {
      font-size: 20px;
      margin-bottom: 48px;
    }
  }
  &__content {
    & span {
      @include mq(md) {
        display: block;
      }
    }
  }
}

/*!
menu
------------------------------
*/
