@use "../global" as *;

/*!
layout > footer
------------------------------
*/
.footer {
  color: $font-white;
  background-color: $bg-primary;
  padding: 64px 0 16px;
  text-align: center;

  @include mq(md) {
    padding: 80px 0 24px;
  }

  &__shoplist {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 24px;

    @include mq(md) {
      margin-top: 40px;
    }

    &:not(:last-child) {
      &::after {
        content: "/";
        margin-left: 10px;
      }
    }
  }

  &__company {
    margin: 24px 0 64px;

    @include mq(md) {
      margin: 24px 0 80px;
    }
  }

  &__copyright {
    font-size: 12px;
    text-align: center;
    display: block;
  }
}
