@use "../global" as *;

/*!
layout > section
------------------------------
*/
.section {
  // セクション間の上下余白
  padding: 64px 0;

  @include mq(md) {
    padding: 80px 0;
  }

  &-body {
    // h2 title - bodyの余白
    padding-top: 40px;

    @include mq(md) {
      padding-top: 48px;
    }
  }
}
