:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-en: "Montserrat", sans-serif;

  --color-black: #111;
  --color-white: #fff;
  --color-base: #fafafa;
  --color-orange: #f5810e;
  --color-yellow: #fabe00;
  // グラデーションカラー
  --color-g-orange: #f8b819;
  --color-g-yellow: #f0d320;
}
