// font
$font-primary: #4e301b;
$font-white: #ffffff;
$font-base: #857868;
$font-accent: #35a1c3;
$font-date: #403f3f;

// background
$bg-white: #fff;
$bg-primary: #fdf9ef;
$bg-footer: #d9d9d9;

// border
$border: #c6c6c6;

// buttton
$btn-bg: #fed966;
$btn-bg-hover: #ebc75a;

// form
$form-bg: #efeae6;

// 400,500,700
$font-family-base: "Noto Sans JP", sans-serif;
// 700
$font-family-en: "Roboto", sans-serif;
