// background
$bg-primary: #524433;
$bg-secondary: #efede9;
$bg-black: #000000;
$bg-white: #ffffff;

// border
$border-black: #000000;
$border-white: #ffffff;

// font
$font-primary: #524433;
$font-white: #ffffff;
$font-base: #000000;

$content-width-s: 960px;
$content-width-m: 1080px;
$content-width-l: 1200px;

$font-family-base: "Noto Sans JP", sans-serif;
$font-family-en: "Montserrat", sans-serif;
