@use "../global" as *;

/*!
layout > container
------------------------------
*/

.container {
  padding: 0 15px;
  margin: 0 auto;

  @include mq(md) {
    max-width: 1140px;
    padding: 0;
  }
}

.section{
  padding: 60px 15px;
}
