@use "../global" as *;

/*!
layout > header
------------------------------
*/
.header {
  background-color: var(--color-white);
}

.header__inner {
  padding: 22px 15px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 100px;
}

.header__nav-open {
  width: 36px;
  height: 21px;
  display: none;
}

.header__nav {
  // display: none;
  background-color: var(--color-orange);
  height: 100vh;
  width: 80vw;
  z-index: 99;
  position: relative;
  left: 10%;
  // transform: translateX(-10%);
}

.header__nav-close {
  width: 36px;
}

.header__list {
}

.header__nav-item {
}

.header__nav-link {
}

/*!
layout > header > pc-nav
------------------------------
*/

/*!
layout > header > sp-nav
------------------------------
*/
