@use "../global" as *;

/*!
component > button
------------------------------
*/

.btn {
  display: block;
  font-family: $font-family-en;
  padding: 18px 10px;
  line-height: 1;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  color: $font-white;
  background-color: $bg-black;

  @include mq(md) {
    width: 240px;
    padding: 22px 10px;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 24px;
    height: 0.8px;
    background-color: $font-white;

    @include mq(md) {
      width: 28px;
    }
  }

  // カラー：白
  &--white {
    color: $font-base;
    background-color: $bg-white;

    &::after {
      background-color: $font-base;
    }
  }

  // 中央配置
  &--centered {
    margin: 0 auto;
  }
}
