@use "../global" as *;

/*!
component > button
------------------------------
*/
.button {
  min-width: 150px;
  padding: 10px 30px;
  border-radius: 60px;

  &:hover {
    cursor: pointer;
  }
}

.button-white {
  border: 2px solid var(--color-black);
  background: var(--color-white);
}
