@use "../global" as *;

/*!
component > instagram
------------------------------
*/
.instagram {
  background-color: $bg-secondary;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px 9px;

    @include mq(md) {
      grid-template-columns: repeat(6, 1fr);
      gap: 16px;
    }
    @include mq(lg) {
      gap: 32px;
    }
  }
}
