@use "../global" as *;

/*!
component > title
------------------------------
*/
.heading2 {
  font-size: 18px;
  text-align: center;

  @include mq(md) {
    font-size: 24px;
  }
}

.heading2-en {
  font-size: 24px;
  font-family: $font-family-en;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  padding-left: 0.12rem;

  @include mq(md) {
    font-size: 32px;
    letter-spacing: 0.16rem;
    padding-left: 0.16rem;
  }
}
