@use "../global" as *;

/*!
component > instagram
------------------------------
*/
.instagram {
  background-color: $bg-secondary;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 9px 8px;

    @include mq(md) {
      flex-wrap: nowrap;
      gap: 32px;
    }
  }
}
