/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.8;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*!
utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  margin: -1px !important;
}

/*!
component > page-kv
------------------------------
*/
.page-kv {
  width: 100%;
  height: auto;
  padding-left: 18px;
}
.page-kv__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-kv__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 2.08px;
}
@media screen and (min-width: 768px) {
  .page-kv__title {
    font-size: 36px;
    letter-spacing: 2.88px;
  }
}

/*!
component > button
------------------------------
*/
.btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  padding: 18px 10px;
  line-height: 1;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #ffffff;
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 240px;
    padding: 22px 10px;
  }
}
.btn::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 24px;
  height: 1px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .btn::after {
    width: 28px;
  }
}
.btn--white {
  color: #000000;
  background-color: #ffffff;
}
.btn--white::after {
  background-color: #000000;
}
.btn--centered {
  margin: 0 auto;
}

/*!
component > title
------------------------------
*/
.heading2 {
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading2 {
    font-size: 24px;
  }
}

.heading2-en {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  padding-left: 0.12rem;
}
@media screen and (min-width: 768px) {
  .heading2-en {
    font-size: 32px;
    letter-spacing: 0.16rem;
    padding-left: 0.16rem;
  }
}

/*!
component > instagram
------------------------------
*/
.instagram {
  background-color: #efede9;
}
.instagram__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 9px;
}
@media screen and (min-width: 768px) {
  .instagram__inner {
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
}
@media screen and (min-width: 1080px) {
  .instagram__inner {
    gap: 32px;
  }
}

/*!
layout > section
------------------------------
*/
.section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0;
  }
}
.section-body {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section-body {
    padding: 48px 0;
  }
}

/*!
layout > container
------------------------------
*/
.container-s,
.container-m,
.container-l {
  width: 90%;
  margin: 0 auto;
}

.container-s {
  max-width: 960px;
}

.container-m {
  max-width: 1080px;
}

.container-l {
  max-width: 1200px;
}

/*!
layout > header
------------------------------
*/
.header {
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.06rem;
}
.header__inner {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
}
.header__logo {
  width: 120px;
  margin-right: auto;
}
.header__btn {
  width: 140px;
  padding: 14px 10px 14px calc(10px + 0.06rem);
  background-color: #524433;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

/*!
layout > header > pc-nav
------------------------------
*/
.pc-nav {
  display: none;
  font-size: 14px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: #524433;
}
.pc-nav__inner {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: block;
  }
}

/*!
layout > header > sp-nav
------------------------------
*/
.sp-nav {
  background-color: #524433;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .sp-nav {
    display: none;
  }
}
.sp-nav__inner {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.sp-nav__item {
  text-transform: uppercase;
  margin: 14px 0;
  position: relative;
  flex-grow: 1;
  text-align: center;
}
.sp-nav__item + li {
  border-left: 1px solid white;
}

/*!
layout > footer
------------------------------
*/
.footer {
  color: #ffffff;
  background-color: #524433;
  padding: 64px 0 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0 24px;
  }
}
.footer__logo {
  width: 120px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 200px;
  }
}
.footer__address {
  margin: 24px 0 64px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin: 24px 0 80px;
  }
}
.footer__copyright {
  font-size: 12px;
  text-align: center;
  display: block;
}

.shoplist {
  display: flex;
  gap: 0 0.8rem;
  flex-wrap: wrap;
  margin-top: 24px;
  justify-content: center;
}
.shoplist__item:not(:first-child):before {
  content: "/";
  padding-right: 0.8rem;
}
@media screen and (min-width: 768px) {
  .shoplist {
    margin-top: 40px;
  }
}

/*!
page > home
------------------------------
*/
.kv {
  background-image: url(../images/fv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.kv__copy {
  position: absolute;
  bottom: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .kv__copy {
    flex-direction: column;
    writing-mode: vertical-rl;
    top: 12%;
    right: 8%;
  }
}
.kv__text {
  display: inline-block;
  background-color: #ffffff;
  line-height: 1;
  letter-spacing: 0.2em;
  padding: 10px calc(10px - 0.2em) 10px 10px;
}
@media screen and (min-width: 768px) {
  .kv__text {
    display: block;
    white-space: nowrap;
    letter-spacing: 0.4em;
    padding: 10px 10px calc(10px - 0.4em) 10px;
  }
}

.about {
  padding-top: 175px;
  background-color: #524433;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
  }
}
.about__inner {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding-left: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .about__inner {
    padding-left: 120px;
  }
}
.about__text {
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}
.about__copy {
  line-height: 2;
  padding: 9px 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__copy {
    line-height: 1.5;
    font-size: 2rem;
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (min-width: 1080px) {
  .about__copy {
    font-size: 2.5rem;
  }
}
.about__copy > span {
  display: block;
}
@media screen and (min-width: 768px) {
  .about__copy > span {
    display: inline;
  }
}
.about__content {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  font-weight: 700;
  padding: 15px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .about__content {
    line-height: 2.5;
    width: 526px;
  }
}
@media screen and (min-width: 768px) {
  .about__content > span {
    display: block;
  }
}
.about__img {
  position: static;
}
@media screen and (min-width: 768px) {
  .about__img {
    position: absolute;
    top: -4%;
    right: 0;
  }
}
@media screen and (min-width: 1080px) {
  .about__img {
    top: -7%;
  }
}
.about__item {
  display: flex;
  flex-direction: row;
}
.about__item-lg {
  width: 90%;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .about__item-lg {
    width: 600px;
  }
}
@media screen and (min-width: 1080px) {
  .about__item-lg {
    width: 786px;
  }
}
.about__item-sm {
  margin-top: 1rem;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .about__item-sm {
    width: 320px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1080px) {
  .about__item-sm {
    width: 393px;
  }
}

.swiper {
  overflow: hidden;
  padding: 94px 0;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__img-wrapper {
  margin: 0 auto;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}
@media screen and (min-width: 768px) {
  .card__body {
    min-height: 180px;
  }
}
.card__text {
  font-weight: 700;
}

.info {
  background-color: #ffffff;
}
.info__inner {
  max-width: 934px;
}
.info__item {
  padding: 22px 0;
}
.info__link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .info__link {
    flex-direction: row;
    gap: 120px;
    align-items: center;
  }
}
.info__date {
  font-size: 0.8125rem;
}

.faq {
  background-color: #524433;
}
.faq__inner {
  max-width: 740px;
}
.faq__question {
  padding: 10px 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}
.faq__question::after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(135deg);
  transition: all 0.3s ease-in-out;
}
.faq__question.is-active::after {
  transform: translateY(-30%) rotate(-45deg);
}
.faq__label {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}
.faq__question-text {
  font-size: 1.125rem;
}
.faq__answer {
  padding: 12px 14px;
  opacity: 0;
  height: 0;
  transition-duration: 0.3s;
}
.faq__answer.is-open {
  opacity: 1;
  height: auto;
  margin-bottom: 12px;
}

.access {
  background-color: #ffffff;
}
.access__inner {
  max-width: 934px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .access__inner {
    flex-direction: row;
  }
}
.access__item {
  font-size: 1.125rem;
  font-weight: 700;
}
.access__label, .access__content {
  padding: 20px 0;
}
.access__label {
  width: 30%;
}
.access__map {
  width: 100%;
}
.access__map iframe {
  aspect-ratio: 4/3;
  width: 100%;
}

.contact__inner {
  max-width: 740px;
}
.contact__msg {
  text-align: center;
  font-weight: 700;
  padding-bottom: 94px;
}
.contact__form-wrapper {
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
}
.contact__title {
  text-align: center;
  margin-bottom: 44px;
  font-weight: 700;
}
.contact__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contact__row {
    flex-direction: row;
  }
}
.contact__label {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact__label {
    width: 40%;
  }
}
.contact__form {
  width: 100%;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    width: 60%;
  }
}
.contact__btn {
  margin-top: 50px;
}

/*!
page > concept
------------------------------
*/
/*!
page > menu
------------------------------
*/
/*!
page > shoplist
------------------------------
*/
/*!
page > blog_archive
------------------------------
*/
/*!
page > blog_single
------------------------------
*/
/*!
page > error
------------------------------
*//*# sourceMappingURL=style.css.map */