/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.8;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*!
component > page-kv
------------------------------
*/
.page-kv {
  width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .page-kv {
    height: 62vh;
  }
}
.page-kv__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.page-kv__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0.13rem;
}
@media screen and (min-width: 768px) {
  .page-kv__title {
    font-size: 36px;
    letter-spacing: 0.18rem;
  }
}

/*!
component > button
------------------------------
*/
.btn {
  display: block;
  font-family: "Montserrat", sans-serif;
  padding: 18px 10px;
  line-height: 1;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #ffffff;
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 240px;
    padding: 22px 10px;
  }
}
.btn::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 24px;
  height: 1px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .btn::after {
    width: 28px;
  }
}
.btn--white {
  color: #000000;
  background-color: #ffffff;
}
.btn--white::after {
  background-color: #000000;
}
.btn--centered {
  margin: 0 auto;
}

/*!
component > title
------------------------------
*/
.heading2 {
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading2 {
    font-size: 24px;
  }
}

.heading2-en {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  padding-left: 0.12rem;
}
@media screen and (min-width: 768px) {
  .heading2-en {
    font-size: 32px;
    letter-spacing: 0.16rem;
    padding-left: 0.16rem;
  }
}

/*!
component > instagram
------------------------------
*/
.instagram {
  background-color: #efede9;
}
.instagram__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 9px;
}
@media screen and (min-width: 768px) {
  .instagram__inner {
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
}
@media screen and (min-width: 992px) {
  .instagram__inner {
    gap: 32px;
  }
}

/*!
layout > section
------------------------------
*/
.section {
  padding: 64px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0;
  }
}
.section-body {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section-body {
    padding: 48px 0;
  }
}

/*!
layout > container
------------------------------
*/
.container-s,
.container-m,
.container-l {
  width: 90%;
  margin: 0 auto;
}

.container-s {
  max-width: 960px;
}

.container-m {
  max-width: 1080px;
}

.container-l {
  max-width: 1200px;
}

/*!
layout > header
------------------------------
*/
.header {
  background-color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.06rem;
  font-family: "Montserrat", sans-serif;
}
.header__inner {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
}
.header__logo {
  width: 120px;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 200px;
  }
}
.header__btn {
  width: 140px;
  padding: 14px 10px 14px calc(10px + 0.06rem);
  background-color: #524433;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__btn {
    width: 160px;
    font-size: 16px;
    letter-spacing: 0.08rem;
    padding: 14.5px 10px 14.5px calc(10px + 0.08rem);
  }
}
@media screen and (min-width: 992px) {
  .header__btn {
    width: 170px;
  }
}

/*!
layout > header > pc-nav
------------------------------
*/
.pc-nav {
  display: none;
  font-size: 14px;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  color: #524433;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    display: block;
  }
}
.pc-nav__inner {
  display: flex;
}
@media screen and (min-width: 768px) {
  .pc-nav__inner {
    gap: 1.1rem;
    margin-right: 1.1rem;
  }
}
@media screen and (min-width: 992px) {
  .pc-nav__inner {
    gap: 2rem;
    margin-right: 2rem;
  }
}

/*!
layout > header > sp-nav
------------------------------
*/
.sp-nav {
  background-color: #524433;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .sp-nav {
    display: none;
  }
}
.sp-nav__inner {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.sp-nav__item {
  text-transform: uppercase;
  margin: 14px 0;
  position: relative;
  flex-grow: 1;
  text-align: center;
}
.sp-nav__item + li {
  border-left: 1px solid #ffffff;
}

/*!
layout > footer
------------------------------
*/
.footer {
  color: #ffffff;
  background-color: #524433;
  padding: 64px 0 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 80px 0 24px;
  }
}
.footer__logo {
  width: 120px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 200px;
  }
}
.footer__address {
  margin: 24px 0 64px;
}
@media screen and (min-width: 768px) {
  .footer__address {
    margin: 24px 0 80px;
  }
}
.footer__copyright {
  font-size: 12px;
  text-align: center;
  display: block;
}

.shoplist {
  display: flex;
  gap: 0 0.8rem;
  flex-wrap: wrap;
  margin-top: 24px;
  justify-content: center;
}
.shoplist__item:not(:first-child):before {
  content: "/";
  padding-right: 0.8rem;
}
@media screen and (min-width: 768px) {
  .shoplist {
    margin-top: 40px;
  }
}

/*!
concept
------------------------------
*/
.top-concept__img {
  width: 100%;
}
.top-concept__text {
  text-align: center;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .top-concept__text {
    margin-top: 48px;
  }
}
.top-concept__copy {
  font-size: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .top-concept__copy {
    font-size: 20px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .top-concept__content span {
    display: block;
  }
}

/*!
menu
------------------------------
*/
.top-menu {
  background-image: url(../images/menu/pic-menu-coffee03.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.top-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: brightness(60%) blur(8px);
  z-index: -1;
}
.top-menu__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .top-menu__inner {
    flex-direction: row;
    gap: 64px;
  }
}
@media screen and (min-width: 768px) {
  .top-menu__list {
    width: 50%;
  }
}
.top-menu__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 24px;
  letter-spacing: 0.09rem;
}
@media screen and (min-width: 768px) {
  .top-menu__title {
    font-size: 20px;
    margin-bottom: 22px;
    letter-spacing: 0.1rem;
  }
}
.top-menu__item {
  line-height: 2;
  border-bottom: 1px solid #ffffff;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

/*!
shoplist
------------------------------
*/
.top-shoplist__text {
  text-align: center;
  line-height: 2;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .top-shoplist__text {
    margin-bottom: 48px;
  }
}
.top-shoplist__text span {
  display: block;
}
.top-shoplist__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .top-shoplist__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.top-shoplist__item {
  line-height: 1;
  width: 155px;
  padding: 16px 10px;
  text-align: center;
  background-color: #efede9;
  border-radius: 100px;
}
@media screen and (min-width: 500px) {
  .top-shoplist__item {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .top-shoplist__item {
    width: 230px;
  }
}

/*!
blog
------------------------------
*/
.top-blog__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .top-blog__inner {
    flex-direction: row;
    gap: 30px;
  }
}
.top-blog__img {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .top-blog__img {
    margin-bottom: 20px;
  }
}
.top-blog__date {
  font-family: "Montserrat", sans-serif;
  color: #524433;
  font-size: 12px;
  letter-spacing: 0.06rem;
}
@media screen and (min-width: 768px) {
  .top-blog__date {
    font-size: 14px;
    letter-spacing: 0.07rem;
  }
}
.top-blog__title {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .top-blog__title {
    font-size: 22px;
  }
}

/*!
concept
------------------------------
*/
.page-kv-concept {
  background-image: url(../images/concept-page-kv.jpg);
}

.page-concept__img {
  width: 100%;
}
.page-concept__text {
  text-align: center;
  line-height: 2;
}
.page-concept__copy {
  font-size: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-concept__copy {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .page-concept__content span {
    display: block;
  }
}

/*!
menu
------------------------------
*/
.page-kv-menu {
  background-image: url(../images/menu-page-kv.jpg);
}

.page-menu__title {
  text-align: center;
}
.page-menu__title-main {
  font-size: 16px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .page-menu__title-main {
    font-size: 20px;
  }
}
.page-menu__title-sub span {
  display: block;
}
.page-menu__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .page-menu__inner {
    gap: 48px;
  }
}
.page-menu__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .page-menu__card {
    flex-direction: row;
    align-items: center;
    gap: 48px;
  }
}
.page-menu__img {
  flex-shrink: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-menu__img {
    width: 30%;
  }
}
.page-menu__name {
  font-size: 16px;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .page-menu__name {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
.page-menu__price {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .page-menu__price {
    margin-bottom: 24px;
  }
}
.page-menu__detail {
  line-height: 2;
}

/*!
shoplist
------------------------------
*/
.page-kv-shoplist {
  background-image: url(../images/shoplist-page-kv.jpg);
}

.page-shoplist__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .page-shoplist__inner {
    gap: 20px;
  }
}
@media screen and (min-width: 992px) {
  .page-shoplist__inner {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;
  }
}
.page-shoplist__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .page-shoplist__card {
    flex-direction: row;
    gap: 24px;
  }
}
@media screen and (min-width: 768px) {
  .page-shoplist__img {
    width: 50%;
  }
}
.page-shoplist__name {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .page-shoplist__name {
    font-size: 20px;
  }
}
.page-shoplist__detail {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .page-shoplist__detail {
    font-size: 14px;
  }
}
.page-shoplist__detail span {
  display: block;
}
.page-shoplist__tel {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .page-shoplist__tel {
    font-size: 22px;
  }
}

/*!
blog_archive
------------------------------
*/
.page-kv-blog-archive {
  background-image: url(../images/blog-archive-page-kv.jpg);
}

.page-blog-archive__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .page-blog-archive__inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 30px;
    margin-bottom: 48px;
  }
}
.page-blog-archive__img {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-blog-archive__img {
    margin-bottom: 20px;
  }
}
.page-blog-archive__date {
  font-family: "Montserrat", sans-serif;
  color: #524433;
  font-size: 12px;
  letter-spacing: 0.06rem;
}
@media screen and (min-width: 768px) {
  .page-blog-archive__date {
    font-size: 14px;
    letter-spacing: 0.07rem;
  }
}
.page-blog-archive__title {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .page-blog-archive__title {
    font-size: 22px;
  }
}

.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.pagination__item {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
@media screen and (min-width: 768px) {
  .pagination__item {
    width: 40px;
    height: 40px;
  }
}
.pagination__item--current {
  color: #ffffff;
  background-color: #000000;
}
.pagination__item--dotted {
  border: none;
}
.pagination__link > img {
  vertical-align: middle;
  width: 12px;
  height: 12px;
  transform: translateY(-10%);
}
@media screen and (min-width: 768px) {
  .pagination__link > img {
    width: 14px;
    height: 14px;
  }
}

/*!
blog_single
------------------------------
*/
.page-kv-blog-single {
  background-image: url(../images/menu-page-kv.jpg);
}

.page-blog-single__thumb {
  width: 100%;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .page-blog-single__thumb {
    margin-bottom: 42px;
  }
}
.page-blog-single__date {
  font-family: "Montserrat", sans-serif;
  color: #524433;
  font-size: 12px;
  letter-spacing: 0.06rem;
}
@media screen and (min-width: 768px) {
  .page-blog-single__date {
    font-size: 14px;
    letter-spacing: 0.07rem;
  }
}
.page-blog-single__title {
  font-size: 22px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .page-blog-single__title {
    font-size: 26px;
    margin-bottom: 48px;
  }
}
.page-blog-single__content {
  line-height: 2;
}
.page-blog-single__content p:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .page-blog-single__content p:not(:last-child) {
    margin-bottom: 40px;
  }
}

/*!
error
------------------------------
*/
.page-kv-error {
  background-image: url(../images/error-page-kv.jpg);
}

.page-error__msg {
  text-align: center;
  line-height: 2;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .page-error__msg > span {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */