@use "../global" as *;

/*!
blog_archive
------------------------------
*/
.page-kv-blog-archive {
  background-image: url(../images/blog-archive-page-kv.jpg); // image-set非対応ブラウザ用
  background-image: image-set(url(../images/blog-archive-page-kv.jpg) 1x, url(../images/blog-archive-page-kv@2x.jpg) 2x);
}
.page-blog-archive {
  &__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-bottom: 40px;

    @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 48px 30px;
      margin-bottom: 48px;
    }
  }
  &__img {
    margin-bottom: 16px;
    @include mq(md) {
      margin-bottom: 20px;
    }
  }
  &__date {
    font-family: $font-family-en;
    color: $font-primary;
    font-size: 12px;
    letter-spacing: 0.06rem;

    @include mq(md) {
      font-size: 14px;
      letter-spacing: 0.07rem;
    }
  }
  &__title {
    font-size: 18px;

    @include mq(lg) {
      font-size: 22px;
    }
  }
}
.pagination {
  display: flex;
  gap: 8px;
  justify-content: center;

  &__item {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    color: $font-base;
    background-color: $bg-white;
    border: 1px solid $border-black;

    @include mq(md) {
      width: 40px;
      height: 40px;
    }
  }

  &__item--current {
    color: $font-white;
    background-color: $bg-black;
  }

  &__item--dotted {
    border: none;
  }

  &__link {
    & > img {
      vertical-align: middle;
      width: 12px;
      height: 12px;
      transform: translateY(-10%);

      @include mq(md) {
        width: 14px;
        height: 14px;
      }
    }
  }
}
