@use "../global" as *;

/*!
concept
------------------------------
*/
.page-kv-concept {
  background-image: url(../images/pic-top-concept.jpg);
}

.page-concept {
  &__img {
    width: 100%;
  }
  &__text {
    text-align: center;
    line-height: 2;
  }

  &__copy {
    font-size: 16px;
    margin-bottom: 16px;

    @include mq(md) {
      font-size: 20px;
      margin-bottom: 32px;
    }
  }

  &__content {
    & span {
      @include mq(md) {
        display: block;
      }
    }
  }
}
